name: Patient Build and Push Docker Image to ACR

on:
  push:
    branches:
      - main
      - naga-kishore-patch
    paths:
      - 'patient/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Azure Container Registry
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build Docker image
        run: |
          docker build \
            -f patient/Dockerfile \
            -t ${{ secrets.ACR_LOGIN_SERVER }}/patient:${{ github.sha }} \
            patient/
      - name: Push Docker image
        run: |
          docker push ${{ secrets.ACR_LOGIN_SERVER }}/patient:${{ github.sha }}
